footer {
    background-color: #073607;
    padding: .5rem;
}
#footer_items {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.copyright {
    color: #ffffff;
    font-weight: 500;
}
span {
    margin: 1rem;
}
@media screen and (max-width: 600px) {
    #footer_itmes {
         flex-direction: column;
         gap: 20px;
    }
}