header {
    padding: 28px;
    width: 100%;
}
.logo-img {
    /*background-color: 0px 0px 12px 4px rgb(0, 0, 0, 0.9);*/
    border-radius: 20%;
    cursor: pointer;
    height: 6rem;
    margin: 1rem;
    object-fit: cover;
    padding: 1rem;
}
#navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#nav_list {
    display: flex;
    gap: 48px;
    list-style: none;
}
.nav-item a {
    color: #0c0c0c;
    font-weight: 500;
    text-decoration: none;
}
.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #0dff00;
}
#mobile_btn {
    display: none;
}
#mobile_menu {
    display: none;
}
@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        display: block;
    }
    #mobile_menu.active {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    #mobile_nav_list {
       list-style: none;
       text-align: center; 
    }
}
